{
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 100,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true
}