@use "../auxil";

section.container {
	width: min-content;
	height: min-content;

	margin: auto;

	position: absolute;
	right: 50%;
	bottom: .5rem;

	transform: translate(50%);

	pointer-events: none;

	* {
		pointer-events: initial;
	}
}

.title {
	width: min-content;
	margin: 0 0 .5rem;
	padding: 0 1rem;
	font-size: clamp(.7rem, 2vw, 1rem);
}

.tooltip {
	width: 90vw;
	height: 36vw;
	max-width: 650px;
	max-height: 260px;
	
	padding: 1rem 2.5rem 1rem;
	
	display: flex;
	align-self: end;
	justify-content: center;
	
	background-image: url("/elements/tooltip_border.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	font-size: clamp(.7rem, 3vw, 1rem);

	@include auxil.responsive(1) {
		padding: 1.45rem 2rem 1rem;
		
		> p { 
			margin: 0;
		}
	}
}
